:root {
  --rosa: #ffb6bb;
  --amarillo: #ffe691;
  --celeste: #95d5ee;
  --oscuro: #585872;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
  font-family: 'Rubik', sans-serif;
  background: whitesmoke;
}
h1 {
  letter-spacing: 0.1rem;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-size: 2rem;
}
/***** SPINNER *****/
.loader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
}
.loader img {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/***** IMAGENES *****/
.image-container {
  margin: 1rem 30%;
}
.image-container img {
  width: 100%;
  margin-top: 0.5rem;
}
/***** CARD *****/
.card-container {
  background-color: #fafafa;
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}
.icons-container {
  display: flex;
  justify-content: space-between;
}
.likes,
.views,
.username {
  color: var(--oscuro);
  padding: 1rem 0;
}
.username {
  text-decoration: none;
}
/***** MOBILE *****/
@media screen and (max-width: 600px) {
  h1 {
    font-size: 1.3rem;
  }
  .image-container {
    margin: 1rem;
  }
}
